$darkblue: #0d142b;
$lightblue: #263666;
$blue: #13296e;




.film_card_player_zone {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
    overflow: hidden;
    display: flex;
    width: 43em;
    height: 38em;
    align-items: center;
    justify-content: space-between;
    background-color: $lightblue;
    border-radius: 10px;
    box-shadow:
        0px 0px 20px rgba(0, 0, 0, 0.3),
        inset 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.film_card_wrapper {
    position: relative;
    display: flex;
    left: -1.3em;
}

.film_card_active_wrapper {
    display: flex;
    flex-direction: row;
}

.filler {
    min-width: 4em;
}

.film_name_wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    width: 100%;
    height: 4em;
}

.film_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.125em;
    border: 2px solid $darkblue;
}

.film_card {
    border: 2px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(transparent, $darkblue);
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid $darkblue;
    box-shadow: 1px 1px 3px rgb(20, 20, 20);
    background-color: $lightblue;
    display: flex;
    width: 18.75em;
    flex-direction: column;
    box-sizing: border-box;
    color: rgb(222, 222, 222);


    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    p {
        min-height: 1em;
        min-width: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 800;

    }


}

.film_card_blank {
    @extend .film_card;
}

.anim_slide_left {
    transform: translateX(-122.05%);
    transition: transform 0.5s ease-in-out;
}



.hidden {
    visibility: hidden;
}

.film_card_nonactive_wrapper {
    height: 100%;
}

.rating_text_wrapper {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    min-height: 2em;
}

.rating_text {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 0.2em;
    color: #ffffff;

}

.rating_text_number {
    background-color: $lightblue;
    font-size: 36px;
    border: 1px solid $darkblue;
    border-radius: 50px;
    margin-left: 2.75em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    height: 2em;
    width: 2em;
}

@media (max-width:600px) {
    .film_card_player_zone {
        //scale: 0.5;
        padding-left: 0em;
        padding-right: 0em;
        margin-top: 0em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        position: relative;
        justify-content: space-between;
        background-color: $lightblue;
        border-radius: 0px;
        box-shadow:
            0px 0px 20px rgba(0, 0, 0, 0.3),
            inset 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    .film_card_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .film_card_active_wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

    }


    .film_card_nonactive_wrapper {
        height: 100%;
    }

    .filler {
        min-width: 4em;
    }

    .film_name_wrapper {

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 0.5em;
        left: 0%;
        top: 0%;
        height: 50%;
    }

    .film_logo {
        scale: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.125em;
        border: 2px solid $darkblue;
    }

    .film_card {
        border: 2px solid transparent;
        background-clip: content-box;
        background-image: linear-gradient(transparent, $darkblue);
        margin-left: 0em;
        margin-right: 0em;
        border: 1px solid $darkblue;
        box-shadow: 1px 1px 3px rgb(20, 20, 20);
        background-color: $lightblue;
        display: flex;
        width: 100%;
        height: 45%;
        flex-direction: column;
        box-sizing: border-box;
        color: rgb(222, 222, 222);


        h2 {
            font-size: 30px;
            font-weight: bold;
            text-transform: capitalize;
            letter-spacing: 1px;
            color: #ffffff;
            margin: 0;

            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        p {
            min-height: 1em;
            min-width: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            font-weight: 800;

        }


    }

    .film_card_blank {
        display: flex;
    }

    .anim_slide_left {
        transform: translateY(-122.05%);
        transition: transform 0.5s ease-in-out;
    }



    .hidden {
        visibility: hidden;
    }


    .rating_text_wrapper {
        position: relative;
        top: -65%;
        right: -48%;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        min-height: 0em;
        width: 50%;
    }

    .rating_text {
        margin: 0;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 0.2em;
        color: #ffffff;

    }

    .rating_text_number {
        background-color: $lightblue;
        font-size: 36px;
        border: 1px solid $darkblue;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0em;
        margin-bottom: 0em;
        margin-top: 0.5em;
        height: 2em;
        width: 2em;
    }


}