.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 70px;
    width: 50%;
}

$box-shadow-color-red: #cf866c;
$box-shadow-color-blue: #29bbff;
$background-color-red: #c23616;
$background-color-blue: #2e86de;
$text-shadow-red: #854629;
$text-shadow-blue: #263666;
$background-color-hover-red: #d0451b;
$background-color-hover-blue: #2dabf9;
$text-color: #ffffff;
$border-color: #0b0e07;

%game_button {
    // border-radius: 1.6em;
    display: block;
    cursor: pointer;
    // font-family: Verdana;
    font-size: 0.8em;
    font-weight: bold;
    width: 48%;
    max-width: 48%;
    // padding: 0.625em 0.75em;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    // border: 1px solid $border-color;
    color: $text-color;
    padding: 0.3em 0;
    text-decoration: none;
    text-align: center;
}

%game_button:active {
    position: relative;
    top: 1px;
}

.game_button_more {
    @extend %game_button;
    background-color: $background-color-red;
    margin-right: 4%;
    // text-shadow: 1px 1px 2px $text-shadow-red;

    &:hover {
        background-color: $background-color-hover-red;
        box-shadow: 0px 0px 3px 0px $box-shadow-color-red;
    }

    &:active {
        position: relative;
        top: 2px;
    }
}

.game_button_less {
    @extend %game_button;
    background-color: $background-color-blue;
    // text-shadow: 1px 1px 2px $text-shadow-blue;

    &:hover {
        background-color: $background-color-hover-blue;
        box-shadow: 0px 0px 3px 0px $box-shadow-color-blue;

    }

    &:active {
        position: relative;
        top: 2px;
    }
}

.game_button_restart_menu {
    @extend %game_button;
    margin-top: 2em;
    width: 10em;
    background-color: $background-color-blue;
    text-shadow: 1px 1px 2px rgb(18, 18, 44);
    text-align: center;

    &:active {
        position: relative;
        top: 2px;
    }
}

.hidden {
    visibility: hidden;
}

.display_none {
    display: none;
}


@media (max-height: 600px) {
    $mobile_landscape_scale: 0.8;

    .buttons {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .buttons {}

    .display_none {
        display: none;
    }
}