@use "Components/Film.scss";
@use "Components/PlayerButtons.scss";
@import "reset.scss";

$darkblue: #0d142b;
$lightblue:#273c75;
$blue: #13296e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    overflow: hidden;
}

.menu {
    background-color: $lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.loading_wrapper {
    color: #fff;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    span {
        font-size: 2rem;
        padding-right: 1rem;
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #93bef3;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;
}


@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading_screen {
    background-color: $lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.guess_response {
    white-space: pre-line;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}

.score_text {
    text-align: center;
    color: #fff;
}


.gameboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.film_divider {
    position: absolute;
    $divider_height: 0.125em;
    height: $divider_height;
    width: 100%;
    background: white;
    z-index: 10;
    top: calc(50% - ($divider_height / 2));
    left: 0;
}

.progress_field_wrapper {
    $progress_field_height: 2.5em;
    $progress_field_width: 2.5em;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $progress_field_height;
    width: $progress_field_width;
    top: calc(50% - ($progress_field_height / 2));
    left: calc(50% - ($progress_field_width / 2));
    z-index: 10;
    color: $lightblue;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bold;
}

.progress_field_text {
    width: auto;
}

.display_none {
    display: none;
}


@media (max-height: 600px) {
    $mobile_landscape_scale: 0.8;

    .progress_field_wrapper {
        scale: $mobile_landscape_scale;
    }
}

@media (min-width: 768px) {

    .gameboard {
        display: inline-block;
        height: 100vh;
        width: 100%;
    }

    .film_divider {
        position: absolute;
        $divider_height: 100vh;
        height: $divider_height;
        $divider_width: 0.125em;
        width: $divider_width;
        background: white;
        z-index: 10;
        left: calc(50% - ($divider_width / 2));
        top: 0;
    }

    .display_none {
        display: none;
    }



}